<% layout('layouts/boilerplate') %>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row col-sm-12 col-md-8 col-xl-8 mb-3">
            <div class="col-md-12 col-xl-12">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-3">Add New Campground</h5>
                        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                            <div class="mb-3">
                            <label for="title" class="form-label col-12">Campground Name:</label>
                            <input class="form-control" type="text" id="title" name="campground[title]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Enter Campground Name!
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="location" class="form-label col-12">Location:</label>
                            <input class="form-control" type="text" id="location" name="campground[location]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Enter Campground Location!
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="price" class="form-label col-12">Price:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="price-label">₹</span>
                                <input type="text" class="form-control" id="price" name="campground[price]" required
                            placeholder="0.00" aria-label="price" aria-describedby="price-label">
                                <span class="input-group-text">/night</span>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Enter Campground Price/Night!
                                </div>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="description" class="form-label col-12">Description:</label>
                            <textarea class="form-control" id="description" name="campground[description]" required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Enter Campground Description!
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="image" class="form-label col-12">Add Images</label>
                            <input class="form-control" type="file" name="image" id="image" multiple>
                            <!-- <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Enter Campground Image URL!
                            </div> -->
                        </div>
                        
                        <button type="submit" class="btn btn-primary col-12 mb-3">Add Campground</button>
                    </form>
                    <a href="/campgrounds" class="btn btn-danger col-6 offset-3">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>